function Main.main 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 14
call String.new 1
push constant 67
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 117
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 116
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 102
call String.appendChar 2
push constant 114
call String.appendChar 2
push constant 111
call String.appendChar 2
push constant 109
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
call CountingGame.init 0
pop temp 0
call CountingGame.StartGame 0
pop temp 0
push constant 0
return
